<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- um pouco de beans aqui, outros no modelo2 -->
	<bean id="modeloId" class="com.williansmartins.model.Modelo" />
	<bean id="classe2Id" class="com.williansmartins.model.Classe2" />
	
</beans>